/*global style*/
*{
    box-sizing: border-box;
}
/*body */
body{
    margin:0;
    padding:0;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    background-color: #277553;
    
}

/* navigation styles */

.nav{
    width:100%;
    margin:0 ;
    min-height:30px;
    padding:10px;
    background-color: black;
    position:fixed;
}
.nav ul{
    display:flex;
    font-size:1.2rem;
}
.nav li{
   list-style-type: none;
   padding:0 5px 0 5px;
}
.nav .name{
    margin-right:auto;
    padding:0;
    margin-left:-20px;
}
/*nav link styles*/
.nav a{
    text-decoration: none;
    color:rgb(185, 172, 172);
}
.nav li a:hover{
    color:white;
}
/* heading */
h1{
    text-align:center;
}
.container{
    border:2px solid white;
    clear:both;
    
}
/* aboutme */
.profile-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    display:block;
    margin:0 auto;
}
/*profile animation */
/*
header .profile-pic:hover {
    transform: scale(1.2) rotate(180deg);
  }
*/

/*header*/
header{
    padding-top:100px;
    font-family: 'Inconsolata', monospace;
    background: url('../IMG_20200612_090841_8.jpg');
}
header .tag{
    background-color:white;
    display:table;
    padding:20px;
    margin:0 auto;
    border:2px solid black;
    border-radius:5%;
}
header .name{
 background:#A13646;
 color:white;
}
header .location{
 background-color:rgb(32, 32, 148);/*#7CBB92;*/
 color:whitesmoke;
}
header{
    background: url(IMG_20200612_090841_8.jpg) no-repeat top center;
    background-size: cover;
    min-height:400px;
    
}

/* main section */
.aboutme .section-heading {
    display:inline-block;
    font-size:2rem;
    color:white;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;  
}
.card{
    margin:20px;
    max-width:500px;
    text-align:justify;
    background-color:whitesmoke;
    padding:20px;
    border-radius:10px;
    border-bottom:3px solid black;
}
.sub-heading{
    text-align: center;
}
/*card styles*/
/*skills*/
.skills{
    width:100%;
    padding:0;
    margin:0;
    text-align:center;
    list-style-type:none;
    
}
.my-skills{
    border-bottom: 3px solid yellow;
}
 .skills li {
     background-color: yellow;
    display:inline-block;
    color:black;
    padding:5px;
    margin-top:10px;
    border:1px solid gray;
    border-radius:10px;
    
} 
/* interests*/
.hobbies{
    width:100%;
    padding:0;
    margin:0;
    text-align:center;
    list-style-type:none;
    
}
/*font-awesome icons*/
.hobbies i{
    color:whitesmoke;

}
.my-interests{
    border-bottom: 3px solid rgb(255, 0, 128);
}
.hobbies li{
    background-color: rgb(255, 0, 128);
    display:inline-block;
    color:black;
    padding:5px;
    margin-top:10px;
    border:1px solid black;
    border-radius:10px;
}
/*footer*/
footer{
    margin:0;
    padding:0;
    width:100%;
    border:2px solid black;
    background-color: black;
    clear: both;
}
footer li{
    list-style: none;
    display:inline-block;
    text-decoration: none;
}
footer li a{
    text-decoration: none;
    color:gray;
    margin-left:10px;
}
footer li i{
    color:rgb(248, 198, 207);
}
footer p{
    color:white;
}
/*for larger screens*/
@media screen and (min-width: 720px) {
  
    .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex; 
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }
    main p {
      line-height: 1.6em;
    }
   footer{
     clear:both;
     font-size:1rem;
   }
   
  }
  
/* contact form */
/*bacground*/
.contact{
    background-color:teal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    width:800px;    
}
.contact .section-heading {
    display:inline-block;
    font-size:2rem;
    color:white;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;  
}
aside{
    margin:0 auto;
    margin-right:30px;

}

fieldset{
    border:none;
    
}
legend{
font-size: 2rem;
color:black;
font-weight: bold;
text-align: center;
display:block;

}
h3{
    text-align: center;
    font-size: 2rem;
    margin-top:0;
}
label{
    font-size:1.5rem;
    display:block;
    line-height:2rem;
}
input{
    width:300px;
    padding:6px;
    margin:5px;
}
input::placeholder,textarea::placeholder{
    font-size:1rem;
}
textarea{
    width:300px;
}
button{
    display:block;
    text-align:center;
    margin:4px;
    padding:9px;
    background-color:green;
    color:white;
    border-radius:10px;
}
